<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaTestUnitBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GHUniteTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GMTTtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GMTUnitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Unit Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85460283162BAEF4005AC677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854FAADB1627D2DF009B902B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854FAAF11627D369009B902B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854FAB2B1627E9D1009B902B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>856E8800162545520022F909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85BBEA161625312B00F386ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85C6ECF8162420730096909F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
